body{
    background-image: linear-gradient(to left,#dcc2fc,rgb(56, 173, 212));
}
div{
    background-color: white;
    height: 600px;
    width:300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px 0px;
    padding-left:140px ; 

}
#Login{
color: rgb(227, 240, 247);
font-size:20px;
padding: 10px 40px;
border-radius: 10px;
background-image:linear-gradient(rgb(84, 79, 169), rgb(132, 129, 187));
margin-left:-70px;
margin-right:21px;
}
#Signup{
    color: rgb(227, 240, 247);
    font-size:20px;
    padding: 10px 40px;
    border-radius: 10px;
    background-image:linear-gradient(rgb(84, 79, 169), rgb(132, 129, 187));
    }
#Email{
    margin-top: 50px;
    margin-left: -89px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding:10px 150px 10px 5px
}
#Password{
    margin-top: 10px;
    margin-left: -89px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding:10px 150px 10px 5px;
}
a{
    margin-left:-85px;
    margin-top:4px;
    color:blueviolet;
}
#mama{
    margin-top: 40px;
    margin-left: -89px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding:10px 150px 10px 146px;
    background-color: blue;
    color:white;
    font-size: 20px;
}
h3{
    margin-left: -41px;
    margin-top:40px;
}
span{
    color:blue;
}